.astrolabe {
  display: grid;
  position: relative;
  width: 100%;
  margin: 0 auto;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-template-areas:
    "g3 g4 g5 g6"
    "g2 ct ct g7"
    "g1 ct ct g8"
    "g0 g11 g10 g9";
  /* padding: 4px; */
  padding: 90px 0 0 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  border-top: 1px solid #ddd;
  background-color: #ffe;
  display: flex;
  justify-content: space-between;
  font-family: "Noto Sans TC", sans-serif;
  transition: 0.3s;
  z-index: 1;
  opacity: 1;

  .left {
    display: flex;
    align-items: flex-end;

    button {
      margin: 4px;
      padding: 6px 8px;
      min-width: 64px;
      background-color: transparent;
      border: 0;
      border-radius: 4px;
      color: #69f;
      font-size: 16px;
      letter-spacing: 1px;
      cursor: pointer;
    }

    @media only screen and (max-width: 991px) {
      button {
        display: none;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px 8px 8px 8px;
      height: 40px;
      width: 128px;
      border: 0;
      border-radius: 8px;
      font-size: 16px;
      letter-spacing: 1px;
      cursor: pointer;
      background-color: #f90;
      color: #fff;
    }

    @media only screen and (max-width: 767px) {
      a {
        width: 84px;
      }
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 48px;
      margin: 4px;
    }

    .name {
      margin-right: 16px;
      font-family: "Kaisei HarunoUmi", serif;
      font-size: 32px;
      font-weight: bold;
      color: #009;
    }

    @media only screen and (max-width: 767px) {
      .name {
        font-size: 24px;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    clear: both;
    position: relative;
    margin-top: -55px;
  }
}
