/* Content Page Only */
.blogContent {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 8px 12px;

  > div {
    margin: 12px 0;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: underline;
    color: #777;

    > div {
      margin: 12px 0;
      margin-left: 20px;
      font-size: 14px;
      letter-spacing: 1px;
      text-decoration: underline;
      color: #777;
    }
  }
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  width: 25%;
  left: 0;

  .content {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 8px 12px;

    > div {
      margin: 12px 0;
      font-size: 14px;
      letter-spacing: 1px;
      text-decoration: underline;
      color: #777;

      > div {
        margin: 12px 0;
        margin-left: 20px;
        font-size: 14px;
        letter-spacing: 1px;
        text-decoration: underline;
        color: #777;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    width: 0%;
  }
}

/* Control the right side */
.right {
  width: 75%;
  right: 0;
  scroll-behavior: smooth;

  a {
    color: #99f;
    text-decoration: underline;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    font-family: "Noto Sans TC", sans-serif;

    span {
      margin: 4px 6px;

      a {
        color: #33f;
        text-decoration: underline;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    width: 100%;
  }
}
