.centerPalace {
  grid-area: ct;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 25px;

  @media only screen and (max-width: 767px) {
    margin: 6px 8px;
  }

  .header {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100%;
      margin: 2px;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      color: #fff;

      @media only screen and (max-width: 767px) {
        height: 32px;
      }
    }

    /* .previous {
            background-color: #f99;
        }

        .next {
            background-color: #9f9;
        } */

    .info {
      background-color: #9cf;

      &.selected {
        background-color: #39f;
      }

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    .arrow {
      background-color: #c9f;
    }
  }

  .body {
    flex: 4;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #666;
    margin: 0 auto;
    width: 85%;
  }

  .timePanel {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      width: 100%;
      margin: 2px;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      color: #fff;

      @media only screen and (max-width: 767px) {
        height: 32px;
      }
    }

    .previous {
      background-color: #f99;
    }

    .next {
      background-color: #6d6;
    }
  }

  .footer {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;

    .searchBox {
      margin: 2px;
      flex: 3;
    }

    .starBox {
      margin: 2px;
      flex: 1;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      width: 100%;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      color: #fff;

      @media only screen and (max-width: 767px) {
        height: 32px;
      }
    }

    .search {
      background-color: #f63;
    }

    .star {
      background-color: #fc0;
    }
  }

  .flow {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      width: 100%;
      margin: 2px;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      color: #fff;

      a {
        width: 100%;
        height: inherit;

        display: flex;
      justify-content: center;
      align-items: center;

        text-decoration: none;
        color: #fff;
      }

      @media only screen and (max-width: 767px) {
        height: 32px;

        font-size: 12px;
      }

      @media only screen and (max-width: 375px) {
        font-size: 10px;
      }
    }

    .flow1 {
      background-color: #686;
    }

    .flow2 {
      background-color: #668;
    }
  }
}

.searchModal {
  width: 100%;
  height: 100%;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: #fff;
}

@media only screen and (max-width: 1920px) {
  .centerPalace {
    .body {
      font-size: 12px;
      line-height: 25px;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .centerPalace {
    .body {
      font-size: 12px;
      line-height: 25px;

      @media only screen and (max-width: 767px) {
        font-size: 8px;
        line-height: 14px;
        /* background-size: auto 100%; */
      }
    }
  }
}
