.centerPalace {
    grid-area: ct;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 40px;

    .header {
        flex: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;


        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 100%;
            margin: 2px;
            border: 0;
            border-radius: 4px;
            cursor: pointer;
            color: #fff;
        }

        /* .previous {
            background-color: #f99;
        }

        .next {
            background-color: #9f9;
        } */

        .info {
            background-color: #9cf;

            &.selected {
                background-color: #39f;
            }
        }

        .arrow {
            background-color: #c9f;
        }


    }

    .body {
        flex: 4;
        display: flex;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 2px;
        color: #666;
        margin: 0 auto;
        width: 85%;
    }

    .timePanel {
        flex: 1;
        display: inline-flex;
        justify-content: center;
        align-items: flex-end;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 100%;
            margin: 2px;
            border: 0;
            border-radius: 4px;
            cursor: pointer;
            color: #fff;
        }

        .previous {
            background-color: #f99;
        }

        .next {
            background-color: #9f9;
        }
    }

    .footer {
        flex: 1;
        display: inline-flex;
        justify-content: center;
        align-items: flex-start;

        .searchBox {
            margin: 2px;
            flex: 3;
        }

        .starBox {
            margin: 2px;
            flex: 1;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 100%;
            border: 0;
            border-radius: 4px;
            cursor: pointer;
            color: #fff;
        }

        .search {
            background-color: #f63;
        }

        .star {
            background-color: #fc0;
        }

    }

}

.searchModal {
    width: 100%;
    height: 100%;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #fff;
}