.container {
    width: 100%;
    margin: 50px;
}

.monthList {
    width: 316px;
    height: 260px;

    display: flex;
    flex-direction: column;

    .row {
        
    }

    button {
        width: 36px;
        height: 36px;
        margin: 2px 2px;
        background-color: transparent;
        border: 0;
        border-radius: 50%;

        &:hover {
            background-color: #66f;
            color: #fff;
            border: 0;
            cursor: pointer;
        }
    }
}